/* CartList.css */

.CartList {
  padding: 20px;
  display: grid;
  grid-template-columns: 1fr;
  gap: 20px;
}

.cartItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 10px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
  background-color: #fff;
}

.cartItem img {
  width: 100px;
  height: 100px;
  object-fit: cover;
  border-radius: 10px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.cartItem img:hover {
  transform: scale(1.1);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.productDetails {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  margin: 10px 0;
  width: 100%;
}

.inputs {
  display: flex;
  align-items: center;
  justify-content: space-between; /* Align text and button in one line */
  gap: 10px;
  width: 100%;
}

.inputs input {
  width: 50px;
  text-align: center;
  padding: 5px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.inputs span {
  font-size: 1rem;
  font-weight: bold;
}

.removeButton {
  font-size: 30px;
  padding: 5px 10px;
  border: none;
  border-radius: 5px;
 margin-right: 10%;
  color: #000000;
  cursor: pointer;
  transition: background-color 0.3s;
}


.totalPrice {
  font-size: 1.5rem;
  font-weight: bold;
  margin-top: 20px;
  text-align: center;
}

@media (min-width: 768px) {
  .CartList {
    grid-template-columns: 1fr 1fr;
  }
}

@media (min-width: 1024px) {
  .CartList {
    grid-template-columns: 1fr 1fr;
  }

  .cartItem {
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .productDetails {
    
    text-align: left;
    margin-left: 20px;
    flex-direction: row; /* Align items in one line */
    justify-content: space-between;
    width: 100%;
  }

  .inputs {
    margin-left: 20px;
    flex-direction: row;
    justify-content: flex-start; /* Ensure inputs and button are in one line */
  }
}
