/* Container styles */
.Container {
    max-width: -1200px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  /* Product styles */
  .Product {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 20px;
    background-color: #f9f9f9;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .ProductImg {
    flex: 1 1 40%;
    max-width: 40%;
    text-align: center;
  }
  
  .ProductImg img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    transition: transform 0.3s ease;
  }
  
  .ProductImg img:hover {
    transform: scale(1.05);
  }
  
  .ProductDetails {
    flex: 1 1 50%;
    max-width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  
  .ProductDetails h1 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
  }
  
  .ProductDetails p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 10px;
  }
  
  .AddToCart {
   margin-top: 20px;
  }
  
  /* Responsive design */
  @media (max-width: 768px) {
    .ProductImg, .ProductDetails {
      flex: 1 1 100%;
      max-width: 100%;
    }
  
    .ProductDetails h1 {
      font-size: 1.5rem;
    }
  
    .ProductDetails p {
      font-size: 0.9rem;
    }
  }
  