/* Footer styles */
.footer {
  padding: 20px 0 45px;
  background: #757575;
  color: #ffffff;
  position: relative; /* Ensure positioning for absolute button */
}

.dior .img {
  width: 130px;
  height: 70px;
  height: auto;
  text-align: center;
}

.footer-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  max-width: 1200px;
  margin: 0 auto;
}

.footer-section {
  padding: 20px;
  min-width: 250px;
  font-family: Merriweather;
}

.footer-section h2 {
  margin-bottom: 10px;
  font-size: 1.5em;
  font-family: Playfair Display;
}

.footer-section p,
.footer-section ul {
  color: #ffffff;
  font-size: 16px;
  line-height: 24px;
  margin-bottom: 21px;
}

.footer-section ul {
  list-style: none;
  padding: 0;
}

.footer .h1{
  font-family: Playfair Display;
}

.footer-section ul li {
  margin: 10px 0;
}

.footer-section ul li a {
  color: #ffffff;
  text-decoration: none;
}

.footer-section ul li a:hover {
  text-decoration: underline;
}

.footer-section .social-icons {
  margin-top: 10px;
}

.footer-section .social-icons a {
  margin: 0 10px;
  font-size: 1.5em;
  transition: color 0.3s;
}

.footer-section .social-icons a:hover {
  color: #000000;
}

.footer-bottom {
  margin-top: 20px;
  font-size: 0.9em;
  color: rgb(255, 255, 255);
  text-align: center;
}

/* Styling for the Back to Top button */
.back-to-top-button {
  position: absolute;
  bottom: 20px; /* Adjust as needed */
  left: 20px; /* Adjust to position on the left side */
  background-color: #757575;
  color: #fff;
  border: none;
  border-radius: 50%;
  width: 60px; /* Make the button larger */
  height: 60px; /* Make the button larger */
  font-size: 24px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.back-to-top-button:hover {
  background-color: #000000;
}


